  ul li{color: red;}
  #lecture>li{border: 1px solid red;}
  ul, ol{background-color: powderblue;}
  a:hover{color:yellow;}
  a:active{color:green;}
  a:focus{color:white;}
  input:focus{background-color:black; color:white;}

  #px{font-size: 16px;}
  #rem{font-size: 1rem;}
  /*
  p{font-size: 2rem; font-family: arial, verdana, "Helvetica Neue", monospace; border: 1px solid gray; font-weight: bold; line-height: 2;}
  */
  .hi{display: inline; border: 1px solid red;}
  .boxsizing > div{margin: 10px; width: 80px; box-sizing: border-box;}
  .red{border: 5px solid red;}
  .hat{border: 20px solid red;}

  .add{border: 5px solid blue; height: 80px;}
  .plus{position: relative; display: inline-block; border: 5px solid red; height: 100%; width: 50%; box-sizing: border-box;}
  .up{position: relative; float: right;display: inline-block; border: 5px solid green; height: 100%; width: 50%; box-sizing: border-box;}
  .parent, .other, .grand{border: 5px solid tomato;}
  .me{position: absolute; background-color: black; color: white; width: 200px; height: 50px;}
  .me2{position: relative; top: 15px; background-color: black; color: white;}
  .grand{position: relative;}
  .me3{position: absolute; top: 50px; left: 50px; background-color: black; color: white;}


  .container{background-color: black;height: 800px; display: flex; flex-direction: row;}
  .item{background-color: tomato;
        color: white;
        border: 1px solid white;
        flex-grow: 1;
  }
  .item:nth-child(1){
      /* flex-grow:2; */
    /* flex-basis: 250px; */
    /* flex-shrink: 6; */
    background: url(dnf/ranger.png) no-repeat center;
    transition: all 0.5s;
  }

  .item:nth-child(2){
      /* flex-grow:3; */
    /* flex-basis: 250px; */
    /* flex-shrink: 1; */
    background: url(dnf/luncher.png) no-repeat center;
    transition: all 0.5s;
  }
  .item:nth-child(3){
    background: url(dnf/mecanic.png) no-repeat center;
    transition: all 0.5s;
  }
  .item:nth-child(4){
    background: url(dnf/spitfire.png) no-repeat center;
    transition: all 0.5s;
  }
  .item:nth-child(5){
    background: url(dnf/sc.png) no-repeat center;
    transition: all 0.5s;
  }
  .item:nth-child(1):hover{
    flex-grow: 3;
  }
  .item:nth-child(2):hover{
    flex-grow: 3;
  }
  .item:nth-child(3):hover{
    flex-grow: 3;
  }
  .item:nth-child(4):hover{
    flex-grow: 3;
  }
  .item:nth-child(5):hover{
    flex-grow: 3;
  }


  img{width: 300px; float: right; margin: 20px;}
